DUNDIE_PORT=3000
DUNDIE_INIT_TEST_DATA=false
DUNDIE_SPRING_CLOUD_STREAM_BINDING_OUT=activity-out-0
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=
DB_PASSWORD=
REDIS_HOST=localhost
KAFKA_BROKER_HOST=localhost
KAFKA_BROKER_PORT=9092